<h1><%= @title %></h1>

<%= link_to "New Player", new_bridge_player_path(start_date: @start_date, end_date: @end_date, times: @times), class: 'btn btn-xs btn-primary' %>

<table>

<thead>
<tr>
<th>Player</th>
<th>Edit</th>
</tr>
</thead>

<tbody>
<% @players.each do |player| %>
	<tr>
	<td><%= player.name %></td>
	<td><%= link_to 'Edit', edit_bridge_player_path(id: player.id, start_date: @start_date, end_date: @end_date, times: @times) %></td>
	</tr>
<% end %>
</tbody>

</table>
