<h1><%= @title %></h1>

<p><%= link_to 'Back', :back, class: 'btn btn-xs btn-primary' %></p>

<table>

<thead>
<tr>
<th>What</th>
</tr>
</thead>

<tbody>
<% @whats.each do |what| %>
	<tr>
	<td><%= link_to what.what, finance_expenses_what_path(id: what.id), method: :get %></td>
	</tr>
<% end %>
</tbody>

</table>
