<h1><%= @title %></h1>

<p>THIS IS THE LANDING PAGE THAT SELECTS THE APP</p>


<% if current_user_role('siteadmin') %>
	<%= link_to 'site admin', roles_path, class: 'tn btn-primary btn-xs' %>
<% end %>
