<h1><%= @title %></h1>

<p>Table format:</p>
<ul>
	<li>Column 1: table</li>
	<li>Column 2+: data</li>
</ul>

<p><%= link_to 'Export', finance_admin_export_path(id: current_user.id), target: '_blank', class: 'btn btn-primary btn-xs' %></p>
