<h1><%= @title %></h1>

<table>

<thead>
<tr>
<th>Account</th>
<th>Has Rebalance</th>
</tr>
</thead>

<tbody>
<% @accounts.each do |account| %>
	<tr>
	<td><%= link_to account.name, finance_investments_rebalance_path(account.id), method: :get %></td>
	<td><%= @has_rebalance[account.id] %></td>
	</tr>
<% end %>
</tbody>

</table>
