<li id="fat-menu" class="dropdown">
<a href="#" class="dropdown-toggle" data-toggle="dropdown">Bridge Scoring <b class="caret"></b></a>
  <ul class="dropdown-menu">
    <li><%= link_to "Score",  bridge_results_path %></li>
    <li><%= link_to "Summary",  bridge_summaries_path %></li>
    <li><%= link_to "Clean up",  bridge_cleanups_path %></li>
  </ul>
</li>
