<li id="fat-menu" class="dropdown">
<a href="#" class="dropdown-toggle" data-toggle="dropdown">Health <b class="caret"></b></a>
  <ul class="dropdown-menu">
    <li><%= link_to "Home",  users_path %></li>
    <li class="divider"></li>
    <li><%= link_to "Data",  health_data_path %></li>
    <li><%= link_to "Import",  new_health_import_path %></li>
    <li class="divider"></li>
    <li><%= link_to "Statistics",  health_stats_path %></li>
    <li><%#= link_to "Plots",  health_plots_path %></li>
  </ul>
</li>
