<li id="fat-menu" class="dropdown">
<a href="#" class="dropdown-toggle" data-toggle="dropdown">Genealogy Admin <b class="caret"></b></a>
  <ul class="dropdown-menu">
    <li><%= link_to "Display", genealogy_admin_display_index_path %></li>
    <li><%= link_to "Bulk Input", new_genealogy_admin_bulk_input_path %></li>
    <li class="divider"></li>
    <li><%= link_to "Clear Genealogy Database", new_genealogy_admin_clear_db_path %></li>
  </ul>
</li>
