<li id="fat-menu" class="dropdown">
<a href="#" class="dropdown-toggle" data-toggle="dropdown">Bridge <b class="caret"></b></a>
  <ul class="dropdown-menu">
    <li><%= link_to "Home",  users_path %></li>
    <li class="divider"></li>
    <li><%= link_to "Scores",  bridge_scores_path %></li>
    <li><%= link_to "Players",  bridge_players_path %></li>
  </ul>
</li>
