<li id="fat-menu" class="dropdown">
<a href="#" class="dropdown-toggle" data-toggle="dropdown">Trumps <b class="caret"></b></a>
  <ul class="dropdown-menu">
    <li><%= link_to "Scores",  trumps_scores_path %></li>
    <li><%= link_to "Names",  trumps_names_path %></li>
    <li>NEW GAME<%#= link_to "New Game",  new_trumps_game_path %></li>
  </ul>
</li>
