<li id="fat-menu" class="dropdown">
<a href="#" class="dropdown-toggle" data-toggle="dropdown">Bridge Scoring <b class="caret"></b></a>
  <ul class="dropdown-menu">
    <li>Pairs<%#= link_to "Pairs",  bridge_pairs_path %></li>
    <li><%= link_to "Score",  bridge_results_path %></li>
    <li>Summary<%#= link_to "Summary",  bridge_summary_path %></li>
  </ul>
</li>
