<li id="fat-menu" class="dropdown">
<a href="#" class="dropdown-toggle" data-toggle="dropdown">Bridge BBO <b class="caret"></b></a>
  <ul class="dropdown-menu">
    <li><%= link_to "Types",  bridge_bbo_types_path %></li>
    <li><%= link_to "Games",  bridge_bbos_path %></li>
  </ul>
</li>
