<h1><%= @title %></h1>

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<script type="text/javascript">
	google.charts.load('current', {'packages':['corechart']});
	google.charts.setOnLoadCallback(drawChart);

	function drawChart() {
		var data, options, chart;

		data = google.visualization.arrayToDataTable([
			[
				'Date',
				'Total',
			],
			<% @summary.each do |ym, value| %>
				[
					new Date('<%= ym %>-28'),
					<%= value %>,
				],
			<% end %>
		]);
		options = {
			title: 'Value',
			curveType: 'function',
			legend: {position: 'right' }
		};
		chart = new google.visualization.LineChart(document.getElementById('chart'));
		chart.draw(data, options);
	}
</script>
<div id='chart' style='width: 1100px; height: 600px'></div>

